<html>
   <body>
      <form action = "http://localhost:5000/get_html_result" method = "POST">
         <p>Title: <input type = "text" name = "title" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <p>You can use parts of the title you'd like to get recommendations for.</p>
      <p>For instance, 'Matrix' instead of 'The Matrix', or 'Big Lebo' instead of 'Big Lebovski'.</p>
      <p>However, 'matrix' or 'big lebo' won't work, the model is not smart enought for that,
         but it can be easily tweaked if needed :)</p>    
   </body>
</html>